// {
//     "presets": [
//         "react",
//         "es2015",
//         "env",
//         "stage-0"
//     ],
//     // "plugins": ["transform-runtime"]
//     "plugins": ["transform-runtime","transform-class-properties"]
// }

{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        "transform-runtime","transform-class-properties", "syntax-dynamic-import"
    ]
  }